.score_container{
    max-width: 200px;
    text-align: center;
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.score_container h1 {
    font-size: 100px;
    line-height: 100px;
   
}
.score_container p {
    font-size: 24px;
    font-weight: 500;
}